@import url('https://fonts.googleapis.com/css2? family= Cinzel:wght@500 & family= Gruppo & display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing:border-box;
    font-family:'Cinzel', serif;
    font-weight: 400;;
}

.grid-container{
    display: grid;
    grid-template-columns:100%;
    grid-template-rows: 2fr 200px;
    grid-template-areas:
    "main"
    "footer";
    min-height: 100vh;
    main{
        grid-area: main;
    }
    footer{
        grid-area: footer;
    }
}

/*header*/

    .boxContainerNav{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content:space-evenly ;
        position: fixed;
        width: 100%;
        height: 70px;
        background-color: rgba(0, 0, 0, 0.764);
        div img{
            width: 100px;
            height: auto;
        }
        nav ul{
            list-style: none;
            display: flex;
            flex-direction: row;
            gap: 100px;
            flex-wrap: wrap;
            
            li a{
                text-decoration: none;
                color: white;
                font-size: 15px;
                letter-spacing: 2px;
                text-transform:uppercase;
                &:hover{
                    text-shadow: 0px 0px 15px white;
                }
            }
            
        }
    }
    @media (max-width:768px){
        .boxContainerNav{
            div img{
                width: 70px;
            }
            nav ul{
                gap: 20px;
                li a{
                    font-size: 13px;
                }
            }
        }
    }
    @media (max-width:425px){
        .grid-container{
            grid-template-columns:100%;
            grid-template-rows:330px 2fr 200px;
            grid-template-areas:
            "header"
            "main"
            "footer";
            min-height: 100vh;
            header{
            grid-area: header;
            }
            main{
                grid-area: main;
            }
            footer{
                grid-area: footer;
            }
        }
         .boxContainerNav{
            background-color: black;
            position: absolute;
            height: 330px;
            flex-direction: column;
            div img{
                width: 120px;
            }
            nav ul{
                flex-direction: column;
                align-items: center;
                gap:25px;
                margin-bottom: 30px;
            }
        }
    }

/*main*/

#fondoMain{ 
    background:linear-gradient(rgba(5, 7, 12, 0.5), rgba(5, 7, 12, 0.5)), url(../../img/./shutterstock-1607753203-2_ai1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.65 black;
    .box-div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 600PX;
        #tituloPrincipal{
            color:white;
            font-size: 80px;
        }
        .subtituloPrincipal{
            text-align: center;
            font-size: 30px;
            color: white;
        }
        
        .btn-contacto{
            padding: 10px 40px;
            font-size: 20px;
            color: rgb(255, 255, 255);
            text-decoration: none;
            border: 1px solid white;
            letter-spacing: 3px;
            &:hover{
                background-color: rgba(71, 71, 71, 0.889);
            }
        }
        @media (max-width:768px){
            #tituloPrincipal{
                font-size: 40px;
                text-align: center;
                margin-bottom: 15px;
            }
            .subtituloPrincipal{
               font-size: 16px;
            }
            .btn-contacto{
                margin-top: 20px;
                font-size: 15px;
            }
    }
        @media (max-width:425px){
            #tituloPrincipal{
                font-size: 50px;
                text-align: center;
                margin-bottom: 30px;
            }
            .subtituloPrincipal{
               font-size: 16px;
            }
            .btn-contacto{
                margin-top: 30px;
                font-size: 15px;
            }
        }
}
@media (max-width:768px){
    .box-div{
        height: 450px;
    }
}

    .box-containerCard{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 20px;  
        flex-wrap: wrap;
        margin-bottom: 80px; 
        .card{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            width: 350px;
            height: 250px;
            background-image: linear-gradient(to right top, rgba(0, 0, 0, 0.596), rgba(125, 125, 125, 0.474));
            box-shadow: 2px 0px 10px  rgb(0, 0, 0);
            border-radius: 10px 10px 10px 10px;
            color: white;
            transition: all 300ms;
            &:hover{
                transform: scale(1.15);
            }
            .tituloCard{
                text-align: center;
                font-size: 30px;
                letter-spacing: 3px;
            }
            .enlaceCard{
                color:white;
                border-radius: 10px 10px 10px 10px;
                border: 1px solid white;
                text-decoration: none;
                padding: 10px;
                &:hover{
                    background-color: rgba(9, 9, 9, 0.366);
                }
            }
            
        }
        @media (max-width:768px){
            .card{
                width: 200px;
                height: 200px;
            }
        }
        @media (max-width:425px){
            .card{
                width: 300px;
                height: 200px;
            }
        }
    }
    
    @media (max-width:425px){
        .box-div{
            height: 350px;
        }
        .box-containerCard{
            flex-direction: column;
            align-items: center;
            margin-bottom: 40px;
        }
    }
}


/*footer*/

footer{
    background:linear-gradient(rgba(5, 7, 12, 0.5), rgba(5, 7, 12, 0.5)), url(../../img/./fondo-de-apartados1.jpg);
    background-position: bottom;
    opacity: 0.75 black;
    color: rgb(255, 255, 255);
    .containerFooter{
        margin-top: 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        .derechosReservados{
            font-size: 15px;
            text-align: center;
        }
        .divEnlacesFooter{
            display: flex;
            flex-direction: row;
            gap:25px;
            align-items: center;
            filter: invert(1);
            .seguinos{
                filter: invert(1);
            }
            a .img{
                width: 30px;
                height: 30px;
            }
        }
      }
      @media (max-width:768px){
        .containerFooter{
            flex-direction: column;
            gap: 15px;
            .derechosReservados{
                font-size: 13px;
            }
            .hdosf{
                text-align: center;
                font-size: 20px;
            }
            .seguinos{
                font-size: 20px;
            }
        }
      }
      @media (max-width:425px){
        .containerFooter{
            flex-direction: column;
            gap: 15px;
            .derechosReservados{
                font-size: 10px;
            }
            .hdosf{
                text-align: center;
                font-size: 15px;
            }
            .seguinos{
                font-size: 15px;
            }
        }
      }
}

/*ESTILOS PAGINA NOSOTROS*/

.fondoGeneral{
    background:linear-gradient(rgba(1, 1, 1, 0.619), rgba(51, 51, 51, 0.455)),url(../../img/7.-que-estudia-el-derecho-administrativo-min-scaled.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.75 black;
   
        .boxNosotros{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 50px;
            margin-top: 100px;
            .tituloMain{
             text-align: center;
             color:white;
             margin-top: 30px;
             letter-spacing: 3px;
             font-size: 40px;
        }
        .texto-Main{
              background-color: rgba(0, 0, 0, 0.763);
              border: 1px solid white;
              border-radius: 20px 20px 20px 20px;
              padding: 30px;
              color: white;
              font-size: 20px;
              text-align: center;
              width: 700px;
        }
        .btn-contacto{
            color: white;
            background-color: rgb(15, 15, 15);
            border-radius: 10px 10px 10px 10px;
            padding: 10px;
            text-decoration: none;
            margin-bottom: 30px;
            text-transform: uppercase;
            transition: all 300ms;
            &:hover{
                text-shadow: 0px 0px 10px white;
                transform: scale(1.15);
            }
        }
        @media(max-width:768px){
            .tituloMain{
                margin-top: 25px;
                font-size: 30px;
            }
            .texto-Main{
                font-size: 15px;
                width: 400px;
                height: 350px;
            }
            .btn-contacto{
                margin-bottom: 20px;
            }
        }
        @media(max-width:425px){
            .tituloMain{
                margin-top: 20px;
                font-size: 25px;
            }
            .texto-Main{
                font-size: 13px;
                width: 320px;
                height: 350px;
            }
            .btn-contacto{
                margin-bottom: 20px;
            }
        }
    }
    @media(max-width:768px){
        .boxNosotros{
            gap: 10px;
        }
    }
    @media(max-width:425px){
        .boxNosotros{
            margin-top: 0px;
            gap: 20px;
        }
    }
}

/*ESTILOS SERVICIOS*/

.fondoGeneralDos{
    background:linear-gradient(rgba(1, 1, 1, 0.619), rgba(51, 51, 51, 0.455)),url(../../img/7.-que-estudia-el-derecho-administrativo-min-scaled.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.75 black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
  
    .cardsUno{
        display: flex;
        flex-direction:column;
        gap: 50px;
        margin-top: 100px;
        margin-bottom: 100px;

        div{
            padding: 80px;
            border-radius: 10px 10px 10px 10px;
            border:1px solid white;
            background-image: linear-gradient(to right top, rgba(0, 0, 0, 0.942), rgba(52, 52, 52, 0.636));
            width: 400px;
            height: 300px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;
            h2{
                color: white;
                text-align: center;
                font-size: 25px;
                transition: all 300ms;
                &:hover{
                    transform: scale(1.15);
                }
            }
            a{
                color: white;
                text-align: center;
                text-decoration: none;
                &:hover{
                    text-shadow: 0px 0px 10px white;
                }
            }
        }
    }
    .cardsDos{
        display: flex;
        flex-direction: column;
        gap: 50px;
        margin-top: 100px;
        margin-bottom: 100px;
        div{
            padding: 80px;
            border-radius: 10px 10px 10px 10px;
            border:1px solid white;
            background-image: linear-gradient(to right top, rgba(0, 0, 0, 0.942), rgba(52, 52, 52, 0.636));
            width: 400px;
            height: 300px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;
            h2{
                color: white;
                text-align: center;
                font-size: 25px;
                transition: all 300ms;
                &:hover{
                    transform: scale(1.15);
                }
            }
            a{
                color: white;
                text-align: center;
                text-decoration: none;
                &:hover{
                    text-shadow: 0px 0px 10px white;
                }
            }

        }
    }
    @media (max-width:768px){
        .cardsUno{
            margin-bottom: 15px;
            margin-top: 100px;
            gap: 15px;
            div{
                padding: 50px;
                width: 300px;
                height: 200px;
            }
        }
        .cardsDos{
            margin-bottom: 15px;
            margin-top: 0px;
            gap: 15px;
            div{
                padding: 50px;
                width: 300px;
                height: 200px;
            }
        }
    }
    @media (max-width:425px){
        .cardsUno{
            margin-bottom: 15px;
            margin-top: 10px;
            gap: 15px;
            div{
                padding: 50px;
                width: 300px;
                height: 200px;
            }
        }
        .cardsDos{
            margin-bottom: 15px;
            margin-top: 0px;
            gap: 15px;
            div{
                padding: 50px;
                width: 300px;
                height: 200px;
            }
        }
    }
}
@media (max-width:768px){
    .fondoGeneralDos{
        flex-direction: column;
        align-items: center;
        justify-content:space-evenly;
        gap: 0px;
    } 
}
@media (max-width:425px){
    .fondoGeneralDos{
        flex-direction: column;
        align-items: center;
        justify-content:space-evenly;
        gap: 0px;
    } 
}


/*ESTILOS CONTACTO*/

.mainContacto{
    background:linear-gradient(rgba(1, 1, 1, 0.619), rgba(51, 51, 51, 0.455)),url(../../img/7.-que-estudia-el-derecho-administrativo-min-scaled.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.75 black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form{
    margin-top: 100px;
    margin-bottom: 80px;
    background-color: rgba(0, 0, 0, 0.801);
    width: 500px;
    height: auto;
    border-radius: 1em;
    padding: 3.5em 1.5em;
    div{
        color: white;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        .formTitle{
            font-size: 40px;
        }
        .formInput{
            width: 200px;
            height: 30px;
            color: white;
            text-align: center;
            border: 1px solid white;
            background-color: rgba(60, 60, 60, 0.371);
            border-radius: 5px 5px 5px 5px;
        }
        .inputSubmit{
            padding: 5px;
            color: white;
            width: 90px;
            height: 40px;
            border-radius: 10px 10px 10px 10px; 
            background-color: rgba(7, 7, 7, 0.774);
            &:hover{
                background-color: rgba(53, 53, 53, 0.684);
            }  
        }
        h3{
            text-align: center;
            font-size: 18px;
        }
        div{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 5px;
            .logoform{
                width: 25px;
                filter: invert(1);
            }
            .hdosmain{
                font-size: 15px;
                margin: 0px;
            }
        }
        @media (max-width:768px){
            .formTitle{
                font-size: 20px;
            }
            h3{
                font-size: 15px;
            }
        }
        @media (max-width:425px){
            .formTitle{
                font-size: 20px;
            }
            h3{
                font-size: 15px;
            }
        }
    }
}
@media (max-width:768px){
    .form{
        width: 350px;
        margin-top: 80px;
        margin-bottom: 20px;
    }
}
@media (max-width:425px){
    .form{
        width: 300px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}


/**UBICACION**/

#mainUbicacion{
    background:linear-gradient(rgba(1, 1, 1, 0.619), rgba(51, 51, 51, 0.455)),url(../../img/7.-que-estudia-el-derecho-administrativo-min-scaled.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.75 black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    .textoUb{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        margin-top: 150px;
        color: white;
        h2{
            font-size: 18px;
            color: black;
            background-color: white;
            border-radius: 50px 50px 50px 50px;
            padding: 10px;
            letter-spacing: 3px;
        }
        h3{
            background-color: rgba(0, 0, 0, 0.514);
            text-align: center;
            width: 400px;
            font-size: 20px;
            padding: 30px;
        }
        @media (max-width:425px){
            h2{
                font-size: 15px;
            }
            h3{
                width: 300px;
                font-size: 15px;
            }
        }
    }
    .maps{
        margin-top: 100px;
        width: 350px;
        height: 350px;
        border-radius: 10px 10px 10px 10px;
    }
}
@media (max-width:768px){
    #mainUbicacion{
        flex-direction: column;
        gap: 0px;
        .textoUb{
            margin-top: 100px;
        }
        .maps{
            margin-top: 30px;
            margin-bottom: 30px;
            width: 250px;
            height: 250px;
        }
        .divmaps{
            text-align: center;
        }
    }

}
@media (max-width:425px){
    #mainUbicacion{
        flex-direction: column;
        gap: 0px;
        .textoUb{
            margin-top: 20px;
        }
        .maps{
            margin-top: 30px;
            margin-bottom: 30px;
            width: 250px;
            height: 250px;
        }
        .divmaps{
            text-align: center;
        }
    }

}